<div id="<%= dom_id task %>">

  <strong>Title:</strong>
    <%= task.task %>

  <p>
    <strong>Description:</strong>
    <%= task.description %>
  </p>

    <strong>Finish by:</strong>
    <%= task.finish_by %>

</div>
