<div id="<%= dom_id task %>">

  <h3><strong>Task: </strong><%= task.task %></h3>

    <% if task.details != "" %>
   <strong>Details:</strong>
    <%= simple_format(task.details, html_options = {style: "display:inline"}) %><br><br>
    <% else %>
    <% end %>

    <p style="font-size: 14px; display:inline">Finish by

    <strong><%= task.finish_by.strftime("%A, %b %d, %Y at %l:%M %p") %></strong></p>
