<div id="<%= dom_id task %>">


    <table class="table table-striped table-light" style="background-color: #dcdcdc">
  <tr>
    <th scope="col" style="text-align:center;">Task</th>
    <td><%= task.task %></td>
    </tr>


  <% if task.details != "" %>
    <th scope="col" style="text-align:center; vertical-align: middle;">Details</th>
      <% else %>
      <% end %>

    <% if task.details != "" %>
    <td>
      <%= simple_format(task.details, html_options = {style: "display:inline"}) %><br>
      <% else %>
      <% end %>
      </td>
      </tr>

</table>
<p style="font-size: 14px; display:inline;">Finish by

<strong><%= task.finish_by.strftime("%A, %b %d, %Y at %l:%M %p") %></strong></p><br>
