<div id="<%= dom_id task %>">

  <h4 style="display:inline"><strong>Title:</strong></h4>
    <p style="display:inline; font-size: 24px;"><%= task.task %></p>
    <br>


    <strong>Details:</strong>
    <% task.details %>
    <br>


    <strong>Finish by:</strong>
    <%= task.finish_by %>


</div>
