<div id="<%= dom_id task %>">

  <strong>Title:</strong>
    <%= task.task %>

  <p>
    <strong>Details:</strong>
    <%= task.details %>
  </p>

    <strong>Finish by:</strong>
    <%= task.finish_by %>

</div>
