<h1 style="display:inline">Edit Task
<div style="float:right;"><%= link_to "Back", tasks_path, class:"btn btn-secondary btn-sm" %></div></h1>
  <hr style="margin-bottom: 10px">

<div style="margin-top: 10px">
<%= render "form", task: @task %>
</div>
