<h1 style="margin-bottom:20px; display:inline">Create Task
<div style="float:right"><%= link_to "Back", tasks_path, class:"btn btn-secondary btn-sm" %></div></h1>
  <hr style="margin-bottom: 10px">



<div style="margin-top: 10px">
<%= render "form", task: @task %>
</div>
