<h1>To-do List App</h1>
<input class="form-control form-control-lg" type="text" placeholder="Type task here..." style="margin-top: 50px">
<button type="button" class="btn btn-primary" style="margin-top: 10px">Add</button>

<div>

  </div>
